/*Clears default css and sets prefernces*/
body{
  margin: 0;
  background-color: #F3F3F3;
}

h1,h2,h3, a{
  text-align: center;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

p{
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

/*Nav Bar CSS*/
#headerLogo{
  height: 65px;
  padding: 10px;
}

header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #5B3A29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: right;
  display:flex;
}

header ul li{
  display: inline-block;
}

header ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 40px 10px;
  display:  inline-block;
  transition: all .3s linear;
  border-right: 1px solid white;
}

header ul li a:hover{
  background-color: #8f9779;
  color: white;
}

.final/*removes border in last nav*/{
  border-right: 0px solid white;
}

/*Sets details of footer on all pages*/
footer{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #5B3A29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

footer p{
  width: 100%;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: white;
  text-align: right;
  display:flex;
}

/*Sets main Image container information on Splash Screen*/
.titlecontainer{
  width: 100%;
  height: 100vh;
  position: relative;
}

.title {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin:0;
  z-index: 1;

  line-height: 100vh;
  top: 0%;
  font-size: 4.75em
}

.titleimage{
  width:100%;
  height:100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;

  object-fit: cover;
}

/*Sets introduction to information on said page below main image*/
.firstInfo{
  padding: 3% 0px 3% 0px;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items:center;
}

.firstInfo h1{
  margin: 0;
  padding: 0px;
  padding-bottom: 5px;
}

.firstInfo p{
  font-weight:300;
  width: 20%;
  text-align: center;
  margin: 0;
}

/*Sets Container Attributes for Image Text sections in Index and Winter*/
.img-div {
  flex: 50%;
  width: 50%;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.img-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row{
  height: 450px;
  width: 100%;
  display: flex;
}

.text{
  flex: 50%;
  text-align: center;
  padding: 10% 0px 10% 0px;
}

.text p{
  padding: 0px 28% 0px 28%;
  font-weight:300;
  margin: 0;
  font-size: 12pt;
}

.text h1{
  margin: 0;
}
