/*Sets details for index title images*/
#indexcontainer{
  padding-top:90px;
}

#indexMountains {
  filter: brightness(90%);
}

#summer:hover, #winter:hover{
  transition: all .5s linear;
  background-color: #dedede;
}

#summer, #winter{
  background-color: #F3F3F3;
  transition: all .5s linear;
}

a{
  text-decoration: none;
  color: black;
}

 .firstInfo p{
   text-align: justify;
 }
