/*Sets details for summer title images*/
#summerMountains{
  filter: brightness(70%);
}
#summertitle {
  /*top: 35%;*/
}

#summer-nav{
  background-color: #8f9779;
}


/* Rest of attributes effect the q and a portion*/
p{
  padding: 0;
  margin: 0;
}

#summerul{
  list-style: none;
  margin: 0;
  padding: 0;

  display: inline-block;
  justify-content: center;
}

/*sets text styling and div constraints for Q and A*/
#information p{
  width: 70%;
}

#question-boxes{
  padding: 30px 0px 20px 0px;
  width: 80%;
  display:inline-flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 0px 10% 0px 10%;
}

.question{
  display: flex;
  flex-direction: column;
  width:40%;
  align-items: center;
  padding: 10px 0px 5px 0px;
}

.question h1{
    padding-bottom: 5px;
    margin: 0;
}

.question p{
  font-weight: 300;
  width: 70%;
}

/*Sets box dimensions and order for logos and everything at bottom*/
#contactboxes{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width:100%;
}

#contactboxes p, #contactboxes h3{
  text-align: center;
  text-indent: 0px;
  width: 100%;
}

#phone, #location, #email{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contactboxes #location, #contactboxes #email{
  width: 33%;
  height: 250px;
  border: 1px solid black;
}

#contactboxes #phone{
  width: 34%;
  height: 250px;
  border: 1px solid black;
}

#phone-img img, #location-img img, #email-img img{
  width:100%;
}

#phone-img, #location-img, #email-img{
  height: 50px;
  width: 50px;
}

/*Concluding Text CSS*/
#Socials img{
  width: 50px;
  height:50px;
}

#Socials h2{
  height:100%;
  margin-top: 12.5px;
}

#facebook, #instagram{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
